<ion-view view-title="Feeds">
    <ion-nav-buttons side="primary">
        <button class="button icon ion-ios-plus-empty" ng-click="add()"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="i in items" class="item-thumbnail-left" ng-click="read(i)">
                <img ng-src="{{i.picture}}">
                <h2 ng-bind="i.note"></h2>
                <p>
                    By:
                    <span ng-bind="i.postBy"></span>
                    <span ng-bind="i.postDate | date:'d MMM yyyy HH:mm'"></span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="add-feed-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <h1 class="title">Add New Feed</h1>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item class="item-image">
                        <img id="photo" src="img/photo.jpg" ng-click="takePhoto()" />
                    </ion-item>
                    <label class="item item-input">
                        <input ng-model="item.note" type="text" placeholder="Type some text here...">
                    </label>
                    <button class="button button-full button-positive" ng-click="save()">OK</button>
                    <button class="button button-full button-assertive" ng-click="cancel()">CANCEL</button>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="read-feed-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <ion-list class="card">
                    <ion-item class="item-image">
                        <img ng-src="{{item.picture}}" />
                    </ion-item>
                    <ion-item>
                        <h2 ng-bind="item.note"></h2>
                        <p>
                            By:
                            <span ng-bind="item.postBy"></span>
                            <span ng-bind="item.postDate | date:'d MMM yyyy HH:mm'"></span>
                        </p>
                    </ion-item>
                    <button class="button button-full button-positive" ng-click="like()">
                        <i class="icon ion-ios-heart"></i>
                    </button>
                    <button class="button button-full button-assertive" ng-click="close()">CLOSE</button>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>